<h1> <%= @cat.name %></h1>

<table>
    <thead>
        <tr>
            <th colspan="2">Cat's Attributes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cat's Age</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>Cat's Birth Date</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>Cat's Color</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Cat's Sex</td>
            <td><%= @cat.sex %></td>
        </tr>
        <tr>
            <td>Cat's Description</td>
            <td><%= @cat.description %></td>
        </tr>

    </tbody>
</table>

<a href="<%= edit_cat_url(@cat) %>">Edit this Cat</a>
